In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [106]:
# Load the dataset
data = pd.read_csv("pune_house_data.csv")
data.head()

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road

In [107]:
data.shape

(13320, 9)

In [108]:
data.describe

<bound method NDFrame.describe of                   area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK  Coomee        1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
2            Built-up  Area  Ready To Move      3 BHK      NaN       1440
3      Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521
4      Super built-up  Area  Ready To Move      2 BHK      NaN       1200
...                     ...            ...        ...      ...        ...
13315        Built-up  Area  Ready To Move  5 Bedroom  ArsiaEx       3453
13316  Super built-up  Area  Ready To Move      4 BHK      NaN       3600
13317        Built-up  Area  Ready To Move      2 BHK  Mahla T       1141
13318  Super built-up  Area         18-Jun      4 BHK  SollyCl       4689
13319  Super built-up  Area  Ready To Move      1 BHK      NaN        550

       bath  balcony   price         site_location
0       2.0      1.0   39.07           Alandi Road
1       5.0      3.0  120.00       Ambegaon Budruk
2       2.0      3.0   62.00            Anandnagar
3       3.0      1.0   95.00                 Aundh
4       2.0      1.0   51.00            Aundh Road
...     ...      ...     ...                   ...
13315   4.0      0.0  231.00                Pashan
13316   5.0      NaN  400.00             Paud Road
13317   2.0      1.0   60.00              Pirangut
13318   4.0      1.0  488.00          Prabhat Road
13319   1.0      1.0   17.00  Pune Railway Station

[13320 rows x 9 columns]>

In [109]:
data.isnull().sum()

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

# DATA CLEANING

In [110]:
#handle null values
data = data.dropna()

In [111]:
data.area_type.unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [112]:
#drop availability because it's not required 
data = data.drop('availability',axis=1)

In [113]:
data.site_location.unique()

array(['Alandi Road', 'Ambegaon Budruk', 'Aundh', 'Balaji Nagar',
       'Bopodi', 'Budhwar Peth', 'Camp', 'Chandan Nagar', 'Dapodi',
       'Deccan Gymkhana', 'Dehu Road', 'Dhole Patil Road', 'Erandwane',
       'Fergusson College Road', 'Ganeshkhind', 'other', 'Gokhale Nagar',
       'Gultekdi', 'Guruwar peth', 'Hadapsar',
       'Hadapsar Industrial Estate', 'Jangali Maharaj Road',
       'Karve Nagar', 'Khadaki', 'Khadki', 'Kondhwa', 'Kondhwa Khurd',
       'Koregaon Park', 'Laxmi Road', 'Lulla Nagar',
       'Mahatma Gandhi Road', 'Mangalwar peth', 'Manik Bagh',
       'Market yard', 'Mukund Nagar', 'Narayan Peth', 'Narayangaon',
       'Navi Peth', 'Pashan', 'Rasta Peth', 'Raviwar Peth',
       'Sadashiv Peth', 'Sahakar Nagar', 'Satara Road', 'Shivaji Nagar',
       'Sinhagad Road', 'Swargate', 'Vadgaon Budruk', 'Wadgaon Sheri',
       'Vishrant Wadi', 'Warje', 'Aundh Road', 'Baner', 'Baner road',
       'Bhandarkar Road', 'Bund Garden Road', 'Dhankawadi',
       'Dhayari Phata', 'Ganesh Peth', 'Ghorpadi', 'Hingne Khurd',
       'Kalyani Nagar', 'Karve Road', 'Kasba Peth', 'Katraj', 'Kharadi',
       'Kondhwa Budruk', 'Kothrud', 'Mundhawa', 'Nagar Road',
       'Parvati Darshan', 'Pirangut', 'Prabhat Road',
       'Pune Railway Station', 'Salunke Vihar', 'Sasson Road',
       'Senapati Bapat Road', 'Somwar Peth', 'Tilak Road',
       'Uruli Devachi', 'Wagholi', 'Wakadewadi', 'Wanowrie', 'Yerawada',
       'Anandnagar', 'Bibvewadi', 'Fatima Nagar', 'Ghorpade Peth',
       'Model colony', 'Nana Peth', 'Paud Road', 'Shaniwar Peth',
       'Viman Nagar', 'Bhavani Peth', 'Law College Road', 'Padmavati',
       'Shukrawar Peth'], dtype=object)

In [114]:
len(data.site_location.unique())

97

In [115]:
location_count = data.groupby('site_location').size().sort_values(ascending=False)
location_count

site_location
Koregaon Park       92
Rasta Peth          90
Viman Nagar         89
Kondhwa             89
Dhole Patil Road    87
                    ..
Katraj              68
Salunke Vihar       67
Model colony        65
Aundh Road          62
other                1
Length: 97, dtype: int64

In [116]:
len(location_count[location_count<=10])

1

In [117]:
location_less_10 = location_count[location_count<=10]

In [118]:
#if the location have less than 10 or 10 houses than that location are known as other location
data.site_location = data.site_location.apply(lambda x: 'other' if x in location_less_10 else x)

In [119]:
len(data.site_location.unique())

97

In [120]:
data['bhk'] = data['size'].apply(lambda x: int(x.split(' ')[0]))
data.bhk.unique()

array([ 2,  4,  3,  1,  5, 11,  9,  6,  7], dtype=int64)

In [121]:
def convert_total_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [122]:
data.total_sqft = data.total_sqft.apply(convert_total_sqft_to_num)
data = data[data.total_sqft.notnull()]
data.head()

,area_type,size,society,total_sqft,bath,balcony,price,site_location,bhk
0,Super built-up Area,2 BHK,Coomee,1056.0,2.0,1.0,39.07,Alandi Road,2
1,Plot Area,4 Bedroom,Theanmp,2600.0,5.0,3.0,120.00,Ambegaon Budruk,4
3,Super built-up Area,3 BHK,Soiewre,1521.0,3.0,1.0,95.00,Aundh,3
5,Super built-up Area,2 BHK,DuenaTa,1170.0,2.0,1.0,38.00,Balaji Nagar,2
11,Plot Area,4 Bedroom,Prrry M,2785.0,5.0,3.0,295.00,Bopodi,4

In [123]:
#drop society column because it's not required
data = data.drop('society',axis=1)

In [124]:
data.head()

,area_type,size,total_sqft,bath,balcony,price,site_location,bhk
0,Super built-up Area,2 BHK,1056.0,2.0,1.0,39.07,Alandi Road,2
1,Plot Area,4 Bedroom,2600.0,5.0,3.0,120.00,Ambegaon Budruk,4
3,Super built-up Area,3 BHK,1521.0,3.0,1.0,95.00,Aundh,3
5,Super built-up Area,2 BHK,1170.0,2.0,1.0,38.00,Balaji Nagar,2
11,Plot Area,4 Bedroom,2785.0,5.0,3.0,295.00,Bopodi,4

In [125]:
#create new column price_sqft that contain price per sqft
data['price_sqft'] = data.price*100000/data.total_sqft

In [126]:
#remove outlier using standard deviation
upper_limit = data.price_sqft.mean() + data.price_sqft.std()
lower_limit = data.price_sqft.mean() - data.price_sqft.std()
data = data[data.price_sqft < upper_limit] 
data = data[data.price_sqft > lower_limit]

In [127]:
#remove 2BHK house that price per sqft is less than the mean of 1bhk house price
def remove_bhk_outliers(data):
    exclude_indices = np.array([])
    for location, location_df in data.groupby('site_location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_sqft),
                'std': np.std(bhk_df.price_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_sqft<(stats['mean'])].index.values)
    return data.drop(exclude_indices,axis='index')
data = remove_bhk_outliers(data)

In [128]:
data = data.drop('price_sqft',axis=1)

In [129]:
#apply one hot encoding in location column
dummies = pd.get_dummies(data.site_location)
site_location_cat = pd.get_dummies(data.site_location)
dummies.head()

,Alandi Road,Ambegaon Budruk,Anandnagar,Aundh,Aundh Road,Balaji Nagar,Baner,Baner road,Bhandarkar Road,Bhavani Peth,...,Vadgaon Budruk,Viman Nagar,Vishrant Wadi,Wadgaon Sheri,Wagholi,Wakadewadi,Wanowrie,Warje,Yerawada,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
data = pd.concat([data,dummies.drop('Ambegaon Budruk',axis='columns')],axis='columns')
data.head()

,area_type,size,total_sqft,bath,balcony,price,site_location,bhk,Alandi Road,Anandnagar,...,Vadgaon Budruk,Viman Nagar,Vishrant Wadi,Wadgaon Sheri,Wagholi,Wakadewadi,Wanowrie,Warje,Yerawada,other
0,Super built-up Area,2 BHK,1056.0,2.0,1.0,39.07,Alandi Road,2,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Super built-up Area,3 BHK,1521.0,3.0,1.0,95.00,Aundh,3,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Super built-up Area,2 BHK,1170.0,2.0,1.0,38.00,Balaji Nagar,2,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Plot Area,4 Bedroom,2785.0,5.0,3.0,295.00,Bopodi,4,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Super built-up Area,2 BHK,1000.0,2.0,1.0,38.00,Budhwar Peth,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
#apply one hot encoding in area column
dummies = pd.get_dummies(data.area_type)
dummies.head()

    Built-up  Area  Carpet  Area  Plot  Area  Super built-up  Area
0                0             0           0                     1
3                0             0           0                     1
5                0             0           0                     1
11               0             0           1                     0
12               0             0           0                     1

In [132]:
data = pd.concat([data,dummies],axis='columns')
data.head()

,area_type,size,total_sqft,bath,balcony,price,site_location,bhk,Alandi Road,Anandnagar,...,Wagholi,Wakadewadi,Wanowrie,Warje,Yerawada,other,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,Super built-up Area,2 BHK,1056.0,2.0,1.0,39.07,Alandi Road,2,1,0,...,0,0,0,0,0,0,0,0,0,1
3,Super built-up Area,3 BHK,1521.0,3.0,1.0,95.00,Aundh,3,0,0,...,0,0,0,0,0,0,0,0,0,1
5,Super built-up Area,2 BHK,1170.0,2.0,1.0,38.00,Balaji Nagar,2,0,0,...,0,0,0,0,0,0,0,0,0,1
11,Plot Area,4 Bedroom,2785.0,5.0,3.0,295.00,Bopodi,4,0,0,...,0,0,0,0,0,0,0,0,1,0
12,Super built-up Area,2 BHK,1000.0,2.0,1.0,38.00,Budhwar Peth,2,0,0,...,0,0,0,0,0,0,0,0,0,1

In [133]:
data = data.drop(['site_location','size','area_type'] , axis=1)

In [134]:
data.head()

,total_sqft,bath,balcony,price,bhk,Alandi Road,Anandnagar,Aundh,Aundh Road,Balaji Nagar,...,Wagholi,Wakadewadi,Wanowrie,Warje,Yerawada,other,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,1056.0,2.0,1.0,39.07,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1521.0,3.0,1.0,95.00,3,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
5,1170.0,2.0,1.0,38.00,2,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
11,2785.0,5.0,3.0,295.00,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12,1000.0,2.0,1.0,38.00,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [135]:
#split data into dependent feature & independent feature
X = data.drop('price',axis=1)

In [136]:
y=data['price']

# XG BOOST

In [171]:
#split data into train-test split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
regressor = cross_val_score(LinearRegression(), X, y, cv=cv)
regressor

array([0.84982164, 0.83011645, 0.83543534, 0.83085598, 0.85272815])

In [172]:
np.average(regressor)

0.8397915141584764

In [173]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X,y,test_size=0.3)

In [174]:
model = LinearRegression()
model.fit(x_train , y_train)

LinearRegression()

In [178]:
y_pred = model.predict(x_test)

In [179]:
print("The accuracy for test data is",y_pred)

The accuracy for test data is [134.64839092  71.52279652  91.68365688 ...  65.29674935  91.3754438
  20.42009887]

In [181]:
from sklearn import metrics
print(metrics.mean_absolute_error(y_test,y_pred))
print(metrics.mean_squared_error(y_test,y_pred))
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

21.03092249015407
1034.3056164679774
32.16062214056154

In [183]:
#save the model
import pickle
with open('model1.pkl', 'wb') as fh:
   pickle.dump(model, fh)

In [184]:
cat = data.drop(['price'] , axis=1)
index_dict = dict(zip(cat.columns,range(cat.shape[1])))
with open('cat', 'wb') as fid:
    pickle.dump(index_dict, fid,2)

In [185]:
print("The accuracy for test data is",y_pred)

The accuracy for test data is [134.64839092  71.52279652  91.68365688 ...  65.29674935  91.3754438
  20.42009887]

In [186]:
def rmsle(y_pred,y_test) :
    error = np.square(np.log10(y_pred +1) - np.log10(y_test +1)).mean() ** 0.5
    Acc = 1 - error
    return Acc

print("Accuracy attained on Training Set = ",rmsle(Y_pred_train, y_train))
print("Accuracy attained on Test Set = ",rmsle(y_pred,y_test))

Accuracy attained on Training Set =  0.9069001163565941
Accuracy attained on Test Set =  0.8307722395222714

<ipython-input-186-47270b60c723>:2: RuntimeWarning: invalid value encountered in log10
  error = np.square(np.log10(y_pred +1) - np.log10(y_test +1)).mean() ** 0.5

In [187]:
#save the model
import pickle
with open('model.pkl', 'wb') as fh:
   pickle.dump(model, fh)

In [188]:
cat = data.drop(['price'] , axis=1)
index_dict = dict(zip(cat.columns,range(cat.shape[1])))
with open('cat', 'wb') as fid:
    pickle.dump(index_dict, fid,2)

In [189]:
#save the column name
location_list = list(zip(site_location_cat.columns,range(cat.shape[1])))

In [190]:
with open('site_location_cat', 'wb') as fid:
    pickle.dump(location_list, fid,2)

In [193]:
def predict_price(location, sqft, bath, bhk):
    loc_index = np.where(X.columns==location)[0][0]
    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1
        
    return model.predict([x])[0]

In [194]:
predict_price('Aundh Road', 1200, 2, 2)

90.72890290421219